@mixin breakpoint($point) {
    @if $point == wide {
        @media (max-width: 1400px) {
            @content;
        }
    } @else if $point == desktop {
        @media (max-width: 1259px) {
            @content;
        }
    } @else if $point == ipadPro {
        @media (max-width: 1024px) {
            @content;
        }
    } @else if $point == laptop {
        @media (max-width: 999px) {
            @content;
        }
    } @else if $point == tablet-land {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $point == tablet-port {
        @media (max-width: 556px) {
            @content;
        }
    } @else if $point == mobile {
        @media (max-width: 430px) {
            @content;
        }
    } @else if $point == mobile-small {
        @media (max-width: 375px) {
            @content;
        }
    }
}
